<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Главная страница</title>
	<link rel="stylesheet" href="/public/css/style.css">
</head>
<body>
	<h1>Отправить свои данные на сервер:</h1>

	<form class="form">
		<div class="form__item">
			<label for="name">Введите ваше имя:</label>
			<input class="form__input" type="text" name="name" id="name" placeholder="Сергей">
		</div>
		<div class="form__item">
			<label for="lastname">Введите вашу фамилию:</label>
			<input class="form__input" type="text" name="lastname" id="lastname" placeholder="Гладких">
		</div>
		<div class="form__item">
			<label for="email">Введите ваш email:</label>
			<input class="form__input" type="email" name="email" id="email" placeholder="Gladkikh.2010@mail.ru">
		</div>
		<div class="form__item">
			<label for="age">Введите ваш возраст:</label>
			<input class="form__input" type="number" name="age" id="age" placeholder="25">
		</div>
		<input class="form__button" type="submit" value="Отправить">
	</form>

	<p class="state"></p>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="/public/js/script.js"></script>
</body>
</html>