body {
	text-align: center;
}

.form__item {
	margin-bottom: 15px;
}

.state {
	margin-top: 38px;
    color: red;
    font-size: 18px;
}

.title {
	text-align: center;
    margin-bottom: 50px;
}

.info {
	display: flex;
	justify-content: flex-start;
    flex-wrap: wrap;
}

.info__users {
	text-align: left;
	font-size: 20px;
	list-style: none;
	margin-bottom: 60px;
    width: 270px;
}